/dist
.DS_Store
Thumbs.db


npm-debug.log*
yarn-debug.log*
yarn-error.log*


/node_modules

.env
.env.local

.vscode
.idea

coverage

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
